<h4>Add news</h4>
<form (ngSubmit)="addNews()">
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="amountInput">News section</label>
      <input
        type="section"
        id="sectionInput"
        name="sectionInput"
        class="form-control"
        placeholder="News section"
        [(ngModel)]="section"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <label for="descriptionInput">Description</label>
      <input
        type="text"
        id="descriptionInput"
        name="descriptionInput"
        class="form-control"
        placeholder="Add news"
        [(ngModel)]="description"
        required
      />
    </div>
  </div>
  <button class="btn btn-primary">Add</button>
</form>

